/* PRETTIER LINKS */

a {
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;
  }

a:link    {
  color: $antiq;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:visited {
  color: $wood;
}

a:hover   {
  color: $carot;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:active  {
  color: $carot;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

